<!DOCTYPE html>
<html lang="zh-CN">
{% include 'header.html' %}

<head>
    <title>修改密码</title>
</head>

<body>
    <div class="container form-container">
        <h3 class="text-primary">修改密码</h3>
        <form action='/change-password' method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
            </div>
            <div class="mb-3">
                <label for="old_password" class="form-label">旧密码</label>
                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="旧密码">
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">新密码</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="新密码">
            </div>
            <button type="submit" class="btn btn-info btn-custom">确认修改</button>
        </form>
    </div>
</body>

</html>