<!DOCTYPE html>
<html lang="zh-CN">
{% include 'header.html' %}

<head>
    <title>管理员登录</title>
</head>

<body>
    <div class="container form-container">
        <h3 class="text-primary">管理员登录</h3>
        <form action='/login' method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-info btn-custom">登录</button>
        </form>
    </div>
</body>

</html>